<ion-modal-view>
    <ion-header-bar style="background-color: #ff8700;">

        <h1 style="text-align: center; color: white;" class="title">Términos y Condiciones</h1>
        <button class="button button-icon icon ion-close-circled" data-ng-click="terms.hide()" style="padding: 0%;color: white;"></button> 
    </ion-header-bar>
    <ion-content padding="true">
        <p align="center"><strong>UD Sobre Ruedas</strong></p>

        <div align="justify" style="padding: 15px">

            UD Sobre Ruedas es un proyecto que nace para el uso exclusivo de los estudiantes de la Universidad Distrital Francisco Jose de Caldas. Su principal objetivo es crear una alternativa de transporte para los mismos.
            <br>
            <p align="center"><strong>Como Funciona</strong></p>

            La forma de utilizar este servicio es la siguiente:
            <br>
            <strong>A)</strong> Únete al Grupo UDSobreRuedas:
            <br>
            Debes Tener una cuenta en Facebook y haber sido aceptado en el Grupo https://www.facebook.com/groups/UDSobreRuedas/ 
            con las condiciones que el Grupo establece para ser Miembro.
            <br>
            <strong>B)</strong> Ingresa a la Aplicación:
            <br>
            Si ya eres Miembro del grupo UDSobreRuedas, ingresa a la App por medio del Botón "Iniciar Sesión", la aplicación validará tus datos de sesión, si es la primera vez que ingresas la aplicación solicitara el Código que te identifica como estudiante de la Universidad Distrital
            <br>
            <strong>C)</strong> Crea Tus Rutas:
            <br>
            Ingresa en la Aplicación y crea tus rutas teniendo en cuenta los puntos de Origen y Destino, dale un nombre a tu ruta con el fin de que la puedas identificar y pon una breve descripción del trazado de tu ruta 
            <br>
            <strong>D)</strong> Crea Tus Vehículos:
            <br>
            Si posees medios de transporte que puedas usar regístralos en la Aplicación por medio del ítem del Menú "Registro de Vehículos", dale un nombre a tu vehículo con el fin de identificarlo más fácilmente, adicional pon restricciones de puestos disponibles por Vehículo. 
            <br>
            <strong>E)</strong> Crea Tu Modo De Viaje:
            <br>
            Publica tu viaje a los demás usuarios teniendo presente que debes tener rutas ya creadas, pon una fecha y hora de partida estimada y selecciona tu Modo de Viaje (Pie, Bici, Moto o Carro), si seleccionas Moto o Carro debes tener Vehículos ya creados. 
            <br>
            <strong>F)</strong> Solicita Viajes:
            <br>
            Una vez hayas creado tu viaje, revisa los viajes de los demás Usuarios publicadas en la APP por otros usuario Si la ruta publicada por otro usuario te sirve solicítala y ponte en contacto con el usuario por medio de la APP, de acuerdo con los datos suministrados por el usuario, 
            <br>
            <strong>G)</strong> Confirma Viajes:
            <br>
            Una vez hayas creado tu viaje por medio de la app, revisa los viajes solicitados de los demás Usuarios publicadas en la APP por medio del menú "Solicitudes Confirmadas" Si la ruta publicada por otro usuario te sirve Confírmala y ponte en contacto con el usuario por medio de la APP, de acuerdo con los datos suministrados por el usuario.  
            <br>
            <br>
            <p>
                <strong>
                    Recuerda usar la plataforma y el servicio con responsabilidad.
                    <br>
                    La veracidad de tus datos permitirá el crecimiento de la aplicación.
                    <br>
                    Todos tus datos seran de uso exclusivo para el funcionamiento y mejoramiento de la aplicación.
                </strong>
            </p>
            <br>
        </div>

    </ion-content>
    <div class = "bar bar-footer" align="center">
        <button class="button button-energized  icon ion-close-circled" data-ng-click="terms.hide()" style="width: 100%"> Cerrar</button> 
    </div>
</ion-modal-view>
