<ion-view   hide-nav-bar="true" hide-back-button="true" id="page5" style="background-color:#000000;">

    <ion-content padding="true" >
    <img src="img/LoginUdSB.png" 
         style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -10;">
    
        <center>
            <img  src="img/icon.png" />
        </center>
        <hr style="color: #ff8700;" size ="10" width="75%">
       <!--ui-sref="uDSobreRuedas.uDSobreRuedas2()" -->
        <a data-ng-click ="loginFB()"
           id="loginFB" 
           width="75%"
           style="font-weight:600;border-radius:30px 30px 30px 30px;" 
           class="button button-positive button-block icon ion-social-facebook"> 
            &nbsp &nbsp Iniciar Sesión
        </a><br>
       <a data-ng-click="terms.show()"><p align = "Center" style="color: white">Términos y Condiciones</p></a>
    
    </ion-content>
</ion-view>